<nav class="nav-wrapper flexed-item">
  <div class="nav-link-wrapper flexed-item">
    <div class="nav-logo">
      <a href="/" class="flexed-item">
        <span class="logo-item circle"></span>
        <h2 class="logo-item">DO<span class="index_C">C</span><span class="index_A">A</span><span
            class="index_R">R</span><span class="index_E">E</span>.</h2>
      </a>
    </div>
    <hr>
    <ul class="nav-link flexed-item">
      <li class="nav-item culture">
        <a class="nav-link" href="/culture">Culture</a>
      </li>
      <li class="nav-item enviro">
        <a class="nav-link" href="/environment">Environment</a>
      </li>
      <li class="nav-item health">
        <a class="nav-link " href="/health">Health</a>
      </li>
      <li class="nav-item solida">
        <a class="nav-link " href="/solidarity">Solidarity</a>
      </li>
      <li class="nav-item signlook">
        <a class="nav-link " href="/signup">Sign up</a>
      </li>
      <li class="nav-item signlook">
        <a class="nav-link " href="/login">Log in</a>
      </li>
    </ul>
  </div>
</nav>