<div class="big_container">
  <div class="about_container">
    <div class="item_container">
      <div class="title_container">
        <h1 class="about_title">Who are we ?</h1>
      </div>
      <p>Colleagues </p>

    </div>
    <div class="item_container">
      <div class="title_container">
        <h1 class="about_title">What is <span class="index_Do">DO</span><span class="index_C">C</span><span
            class="index_A">A</span><span class="index_R">R</span><span class="index_E">E</span><span
            class="index_Do">.</span> ?
        </h1>
      </div>
      <p>DOCARE. is a plateform that allows you to find some informations about associations.</p>
    </div>
    <div class="item_container">
      <div class="title_container">
        <h1 class="about_title">What is our label ?</h1>
      </div>
      <p>"Le Don en Confiance, organisme à but non lucratif ouvert à toutes les causes d’intérêt général, a été créé en
        1989
        par de grandes associations et fondations sociales et humanitaires avec la volonté de préserver et développer
        une
        relation de confiance avec leurs donateurs. Ayant fondé il y a près de trente ans une Charte de déontologie, il
        exerce la mission de contrôle de l’appel public à la générosité basé sur des principes de transparence, de
        recherche
        d’efficacité, de probité et désintéressement, et de respect des donateurs, personnes physiques et morales.</p>
    </div>
  </div>
</div>