<div class="big_container">
  <div class="about_container">
    <div class="item_container">
      <div class="title_container">
        <h1 class="about_title">Who are we ?</h1>
      </div>
      <p>Two students very concerned about a lot of social and environmental issues.</p>

    </div>
    <div class="item_container">
      <div class="title_container">
        <h1 class="about_title">What is <span class="index_Do">DO</span><span class="index_C">C</span><span
            class="index_A">A</span><span class="index_R">R</span><span class="index_E">E</span><span
            class="index_Do">.</span> ?
        </h1>
      </div>
      <p>DOCARE. ⓒ is a platform to give visibility to non-profit organizations. Our goal is to streamline the ‘giving
        process’ and make charity online more user-friendly, whether you want to give time or money.

        With our website, you can be sure you’re in good hands. The organizations we selected received the Don En
        Confiance ⓒ label, and you can access their financial reports easily - because no one like to give to a great
        cause without knowing where the money goes. </p>
    </div>
    <div class="item_container">
      <div class="title_container">
        <h1 class="about_title">What is our label ?</h1>
      </div>
      <p>We work with Le Don en Confiance &copy;, a non-profit organization open to all sorts of causes (social,
        environmental, etc), created in 1989
        by a group of humanitarian organizations and foundations, with the idea of preserving and building a trust-based
        relationship with the donators.
        Having established almost 30 years ago an ethical charter, the label is there to control transparency, research
        and lack of financial interest,
        in the respect and appreciation of donators.</p>
    </div>
  </div>
</div>