<div class="main-content-products flexed-item big-container">
  <section class="products-wrapper">
    <div class="products-grid flexed-item">
      <a href="/one_asso" class="product-item-wrapper">
        <p class="product-name">Sneacker Model Name</p>
        <p class="product-cat">Product main category</p>
        <p class="product-price">$120</p>
      </a>
      <a href="/one_asso" class="product-item-wrapper">
        <p class="product-name">Sneacker Model Name</p>
        <p class="product-cat">Product main category</p>
        <p class="product-price">$120</p>
      </a>
      <a href="/one_asso" class="product-item-wrapper">
        <p class="product-name">Sneacker Model Name</p>
        <p class="product-cat">Product main category</p>
        <p class="product-price">$120</p>
      </a>
      <a href="/one_asso" class="product-item-wrapper">
        <p class="product-name">Sneacker Model Name</p>
        <p class="product-cat">Product main category</p>
        <p class="product-price">$120</p>
      </a>
      </a>
    </div>
  </section>
</div>