<div class="index_container">
  <div class="index_container_logo">
    <h1 class="index_title">DO<span class="index_C">C</span><span class="index_A">A</span><span
        class="index_R">R</span><span class="index_E">E</span>.
    </h1>
    <p class="index_quote">Kindness is underrated</p>
  </div>
  <a class="index_link" href="/assos">There are so many ways you can help.</a>
</div>