<!DOCTYPE html>
<html lang="en">

<head>
  {{> care_head}}
</head>

<body>
  <header>
    {{#if nav}}
    {{> navbar}}
    {{/if}}
  </header>
  <main class="main-content">
    {{{body}}}
  </main>
</body>

</html>