@import "./index.css";
@import "./navbar.css";
@import "./assos.css";
@import "./add.css";
@import "./styles.css";
@import "./oneasso.css";
@import url("https://fonts.googleapis.com/css?family=Overpass%7CRighteous%7CRubik+Mono+One&display=swap");

h1 {
  font-family: "Righteous", cursive;
}

p {
  font-family: "Overpass", sans-serif;
}

body {
  width: 100%;
}
