@import url("https://fonts.googleapis.com/css?family=Overpass%7CRighteous%7CRubik+Mono+One&display=swap");
.one-asso-container {
  font-family: "Overpass", sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100vh - (84px));
  margin-right: 20px;
}
.informationDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 10px;
  margin-top: 130px;
}
.donationDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2px;
  margin-top: 130px;
  margin-left: 2px;
  margin-right: 100px;
}
.moneyDonation {
  margin-top: 65px;
  margin-right: 2px;
  padding: 20px;
  text-align: center;
  width: 400px;
  font-size: 23px;
}

.moneyButton {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f7bbd0;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 300;
}

.titleMoney {
  margin: 10px;
}

h4 {
  font-size: 20px;
  font-style: italic;
  color: #f7bbd0;
  font-weight: 700;
}

.formMoney {
  font-size: 18px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 150px;
  margin: 0 auto;
}

.labelMoney {
  font-size: 16px;
  margin-bottom: 5px;
}

.timeDonation {
  padding: 20px;
  text-align: center;
  width: 400px;
  font-size: 23px;
}
.listTimeDonations {
  text-align: left;
}

.titleHelpTime {
  margin: 1px;
  text-align: left;
  font-style: italic;
  font-size: 18px;
}

.titleHelpTime:hover {
  color: blue;
}

.textHelpTime {
  text-align: left;
  font-size: 16px;
}

.one-asso-container > * {
  margin-bottom: 1.2rem;
}
.asso-name {
  font-size: 2.3rem;
  font-weight: 700;
}
.asso-theyDo {
  font-size: 1rem;
}
.asso-lastMission {
  font-size: 1rem;
}
.asso-since {
  font-size: 1rem;
}
.asso-imageBox {
  margin: 20px;
}
.asso-img {
  padding: 20px;
  border: 1px solid black;
  width: 300px;
  margin: 10px 0 10px 10px;
  text-overflow: clip;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}
.asso-info {
  text-align: center;
  box-sizing: border-box;
  border: 5px solid #78caf7;
  margin: 200px 10px -200px -100px;
  z-index: -1;
  padding: 40px;
  padding-top: 50px;
  width: 530px;
  height: 400px;
  right: 10px;
}
